.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container {
  margin-top: 200px;
  border-radius: 10px;

  background-color: rgb(194, 206, 206);
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  width: 200px;
  height: 30px;
  margin: 10px;
}
button {
  width: 200px;
  height: 30px;
  border: none;
  background-color: purple;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.login span {
  font-size: 16px;
  color: red;
  margin-top: 10px;
}
.create_account {
  display: flex;
  margin-top: 30px;
}
/* Add other styles for your container and login class as needed */

/* Add other styles for your container and login class as needed */

.password-input {
  position: relative;
}

input {
  padding-right: 2.5em; /* Adjust as needed to make space for the icon */
}

.toggle-password-visibility {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
}
.password-visibility{
  font-size: 1.3rem;

}